body{
  margin: 0%;
  color: #fff; 
  font-size: 25px;
  font-family: Geneva, sans-serif;
  background: linear-gradient(0deg, rgb(35, 33, 58), rgb(0, 0, 0));
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: cursive, sans-serif;
  color: rgb(73, 73, 160);
}

h2 {
  margin: 80px 0px;
  color: rgb(73, 73, 160);
}

h3 {
  margin-top: 50px;
  color: rgb(146, 146, 235);
}

strong {
  color: rgb(108, 108, 194);
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

li {
  list-style: none;
  margin-top: 10px;
}

.header{
  width: 100%;
}

.header-left {
  width: 17%;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
  background: linear-gradient(0deg, rgb(40, 39, 68), rgb(0, 0, 0));
  font-size: 23px;
}

.header-right {
  max-width: 75%;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}

.email{
  font-size:16px;
  font-style: italic;
  font-weight: 200;
}

#foto {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  border: solid 5px rgb(33, 33, 54);
}

.frase {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  color: rgb(121, 121, 255);
}

.list {
  margin: 0px;
  width: 93.55vw;
}

.list h2, h3 {
  margin-left: 35px;
}

.list li{
  line-height: 3;
  padding-left: 70px;
  width: 100%;
}

.list li:last-child{
  margin-bottom: 100px;
}

.menu li{
  display: inline-block;
  margin: 70px 40px 60px 0px ;
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0.08s;
  font-size: 26px;

} 

.menu li:last-child{
  margin-right: 0%;
}

.menu li:hover {
  transform: scale(1.1);
}

.skills-ul{
  padding: 0%;
}

.skills-ul li:nth-child(odd) {
  background-color: rgba(40, 39, 68, 0.2);
}

.proj ul{
  width: 100%;
}

.proj li {
  display: flex;
  padding: 0%;
  width: 105.5%;
  margin: 0%;
}

.proj li a {
  width: 100%;
  padding: 10px 0px 2px 70px;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.proj li a:hover {
  width: 100%;
  padding: 10px 0px 2px 70px;
  color: rgb(108, 108, 194);
  background-color: rgba(250, 250, 250, 0.1)
}

.blue a {
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.blue a:hover {
  color: rgb(108, 108, 194);
}

 @media (max-width:1250px) {
  .header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 
  
  .header-left {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
  }
} 
/