body{
  margin: 0%;
  color: #fff; 
  font-size: 25px;
  font-family: Geneva, sans-serif;
  background: linear-gradient(0deg, rgb(35, 33, 58), rgb(0, 0, 0));
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: cursive, sans-serif;
}

h2 {
  margin-top: 50px;
}

strong {
  color: rgb(108, 108, 194);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 10px;
}

.header{
  width: 100%;
}

.header-left {
  width: 17%;
  padding: 20px;
  display: inline-block;
  background: linear-gradient(0deg, rgb(40, 39, 68), rgb(0, 0, 0));
}

.header-right {
  max-width: 75%;
  font-style: italic;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}

#foto {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  border: solid 5px rgb(33, 33, 54);
}

.list li{
  list-style: disc;
}
