body{
  margin: 0%;
  color: #fff; 
  font-size: 25px;
  font-family: Geneva, sans-serif;
  background: linear-gradient(0deg, rgb(35, 33, 58), rgb(0, 0, 0));
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: cursive, sans-serif;
}

h2 {
  margin-top: 50px;
}

strong {
  color: rgb(108, 108, 194);
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}


a:hover {
  color: rgb(108, 108, 194);
  font-size: 28px;
}

li {
  list-style: none;
  margin-top: 10px;
}

.header{
  width: 100%;
}

.header-left {
  width: 17%;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
  background: linear-gradient(0deg, rgb(40, 39, 68), rgb(0, 0, 0));
  font-size: 23px;
}

.header-right {
  max-width: 75%;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}

#foto {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  border: solid 5px rgb(33, 33, 54);
}

.frase {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  color: rgb(36, 36, 107);
}

.list {
  margin: 30px;
}

.list li{
  list-style: disc;
}

.menu li{
  display: inline-block;
  margin: 70px 40px 60px 0px ;
}

.skills-ul li:nth-child(odd) {
  color: rgb(108, 108, 194);
  
}
